.main-container {
  display: flex;
  justify-content: space-around;
  border: gray solid 10px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}

.location,
.condition,
.feels-like,
.low,
.high,
.rain {
  text-align: center;
}

.bold-heading {
  font-weight: bold;
}
